body {
  margin: 0;
  background: #000;
}
video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url('../img/poster.png') no-repeat;
  background-size: cover;
  transform: translateX(-50%) translateY(-50%);
}

h1 {
  color: #fff;
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background:rgba(0,0,0,0.5);
  padding: .5rem;
  transition: .6s background;
}
a:hover{
  background:rgba(0,0,0,0.9);
}
@media screen and (max-width: 500px) {
  div{width:70%;}
}
@media screen and (max-device-width: 800px) {
  html {
    background: url(../img/poster.png) #000 no-repeat center center fixed;
  }
  #bgvid {
    display: none;
  }
}
