@import url(https://fonts.googleapis.com/css?family=Raleway:700);

html, body {
  height:100%;
  padding:0;
  margin:0;
  font-family: Raleway,sans-serif;
  color:#FFF;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url('../img/poster.png') no-repeat;
  background-size: cover;
  transform: translateX(-50%) translateY(-50%);
}

section {
  height: 100%;
  width: 100%;
  display: table;
}

.text-container {
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}

h1 {
  letter-spacing: -4px;
  font-size:100px;
  font-weight:700;
  text-transform:uppercase;
  text-shadow:1px 1px 1px rgba(0,0,0,0.5);
}

h1, h3 {
  margin: 0;
}

a.button {
  margin: 25px auto 15px;
  border-color: #fff;
  color: #fff;
}

a.button:hover, a.button:active, a.button:focus {
  background-color: #fff;
  color: #666;
  border-color: #fff;
}

.text-container::before, .text-container::after {
  width: 220px;
  height: 1px;
  border-top:4px double #FFF;
  content:"";
  display:block;
  margin:20px auto;
}

@media screen and (max-width: 500px) {
  div {
    width:70%;
  }
}
@media screen and (max-device-width: 800px) {
  html {
    background: url(../img/poster.png) #000 no-repeat center center fixed;
  }
  /*video {
    display: none;
  }*/
}
